.title__product{
	text-align: center;
	font-size: 30px;
	margin-top: -300px;
}
.list__product{
	display: flex;
	flex-wrap: wrap;
	margin-left: 5px;
}
.list__product .item{
	background-color: white;
	padding: 15px;
	margin: 30px;
	border-radius: 10px;
	box-shadow: 0 0 16px 0.001px #333;
}
.list__product .item img{
	width: 160px;
	border-radius: 10px;
}
.list__product .item p{
	margin: 10px;
	font-weight: bolder;
	color: black;
}
.list__product .item span{
	margin: 10px;
	color: black;
}
.list__product .item button{
	margin-left: 30px;
	font-size: 25px;
	font-weight: 800;
	padding: 0 15px;
	border: none;
	background-color: #FFA500;
	color: #fff;
	border-radius: 46%;
}