
.edit-product{
    width: 30%;
    height: 530px;
    margin: 0 auto;
    padding: 30px 40px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 5px 10px 30px 0.001px gold;
    position: fixed;
    top: 100px;
    left: 35%;
}

.close-edit{
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 20px;
    color: red;
}

.edit-product h2 {
    text-align: center;
    margin-bottom: 30px;
}



.close-edit:hover{
    cursor: pointer;
    color: red;
}

.label-input1{
    width: 100%;
    margin-bottom: 20px;
}
.label-input1 label{
    float: left;
    width: 35%;
    height: 30px;

}
.label-input1 input{
    outline: none;
    border: 1px solid wheat;
    width: 64%;
    height:30px;
    
}
.select-img{
    margin-right: 24px;
    width: 100%;
    float: left;
}

.on-button{
    position: absolute;
    bottom: 20px;
    width: 80%;
    height: 40px;
   
}
.on-button button{
    float: left;
    padding: 5px 20px;
    font-size: 18px ;
    font-weight: bold;
    background-color: green;
    border: none;
    border-radius: 10px;
    margin-left: 15%;
}


.save-add:hover{
    cursor: pointer;
    color: white;
}

.reset:hover{
    cursor: pointer;
    color: white;
}