.title__product{
	text-align: center;
	font-size: 30px;
	margin-top: 200px;
}
.list__product{
	display: flex;
	flex-wrap: wrap;
	margin-left: 10px;
}
.list__product .item{
	background-color: white;
	padding: 15px;
	margin: 30px;
	border-radius: 10px;
	box-shadow: 0 0 16px 1px rgb(157, 157, 157);
}
.list__product .item img{
	width: 160px;
	height: 135px;
	border-radius: 10px;
	object-fit: cover;
}
.list__product .item p{
	width: 140px;
	height: 45px;
	margin: 10px;
	font-weight: bolder;
	color: black;
	overflow: hidden;
	text-overflow: ellipsis;
}
.list__product .item span{
	margin: 10px;
	color: black;
}
.list__product .item button{
	margin-left: 30px;
	font-size: 25px;
	font-weight: 800;
	padding: 0 15px;
	border: none;
	background-color: #FFA500;
	color: #fff;
	border-radius: 46%;
}
.loading{
	font-size: 30px;
	text-align: center;
	padding: 20px;
}
.pagination{
	text-align: center;
}