header{
	width: 100%;
	position: absolute;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.logo{
	cursor: pointer;
	width: 220px;
	object-fit: cover;
}
.nav__links{
	background-color: #FFFFFF;
	padding: 10px 50px;
	border-radius: 40px;
	box-shadow: 5px 50px 90px 0.001px #333;
	list-style: none;
}
.nav__links li{
	font-size: 18px;
	font-weight: bolder;
	color: black;
	display: inline-block;
	padding: 0 20px;
}
.nav__links li a{
	transition: all 0.3s ease 0s;
}
.nav__links li:hover{
	color: #0088a9;
}
.category{
	display: none;
	position: absolute;
	transform: translate(-55px, 0px);
	background-color: #FFFFFF;
	padding: 20px 10px;
	border-radius: 20px;
}
.category li{
	display: block;
	margin: 10px;
}
.menu:hover .category{
	display: block;
}
.icons{
	margin-right: 90px;
}
.login{
	font-size: 35px;
	margin-top: 5px;
	margin-left: 25px;
	color: #333;
	border-radius: 10px;
}
.search__input{
	width: 100%;
	padding: 5px 20px;
	outline: none;
	border: none;
	border-bottom: 1px solid #333;
}
.product__listing{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.product__listing img{
	width: 70px;
}