.read__content{
	display: flex;
	justify-content: space-evenly;
	margin: 50px;
	margin-top: 200px;
	background-color: #fff;
	box-shadow: 0 0 10px 1px #333;
}
.read__content .img img{
	width: 500px;
	height: 400px;
	object-fit: cover;
	margin: 30px;
}
.read__content .read{
	margin: 30px;
	margin-top: 50px;
}
.read__content .read h2{
	font-size: 50px;
}
.footer {
	margin-top: 200px;
}
.footer>img{
	width: 100%;
	height: 400px;
	object-fit: cover;
}
.footer__logo>img{
	width: 400px;
	position: absolute;
	transform: translate(340px, -350px);
}
